# Data files
*.sqlite*
*.csv
*.png

# Python
__pycache__/
.venv/
env/
venv/
ENV/

# Pix2Pix Training Output & Checkpoints
checkpoints/
outputs/

# IDEs
.vscode/
.idea/
.DS_Store

.pth
.pt

outputs*/
run_*/