tensorflow-macos==2.16.1
tensorflow-metal==1.2.0
keras==3.3.3
numpy==1.26.4
jupedsim==1.1.1
pedpy==1.1.3
pandas
matplotlib
shapely
tqdm
psutil
torch
pyarrow
torchvision
streamlit
transformers
accelerate

# For Apple Silicon (M1/M2/M3) GPU acceleration:
# tensorflow-metal 1.2.0 is required for Python 3.12
